

<h3 style="text-align: center; margin: 3% auto;" id="title_anima">HISTÓRICO</h3>

<div class="total">
<div class="total">

    <!--<div class="calculator2">
        <div class="result">
            <div class="form-group">
                <label style="width: 500px;white-space: pre-line">{{data}}</label>
            </div>
        </div>
    </div>-->

    <div class="new-line" *ngFor="let operation of this.operations">{{operation}}</div>
    <div class="new-line" *ngIf="operations.length == 0">Sem historico de cálculo</div>

</div>
