.calculator2 label {
    border-radius: 20px;
    height: 40px;
    color: #3a3768;
    background: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 1px 4px 0px black;
    width: 70% !important;
    margin: 4% auto;
    display: flex;
    justify-content: center;
}


body{
    background-color: #484497 !important;
  }