<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark button_mobile">
  <div class="navbar-nav icons-button d-flex justify-content-center col-md-6" >
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive='active'><i class="fas fa-home"></i></a>
  </div>
  <div class="navbar-nav icons-button d-flex justify-content-center col-md-6">
      <a class="nav-item nav-link" routerLink="/calculadorabi" routerLinkActive='active'><i class="fas fa-calculator"></i></a>
    </div>
</nav>
<router-outlet></router-outlet>