<!-- Rotating card -->
<div class="card-wrapper card-action">
  <div id="card-1" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
      <div class="card-up">
        <h3 id="title_anima">Projeto de Desenvolvimento Móvel</h3>
      </div>

      <!-- Avatar -->
      <div class="avatar mx-auto white">
        
      <img src="assets/pablo_batista_2.png" class="rounded-circle" alt="Sample avatar image." style="width: 140px; padding:5px">
    
         <!-- Content -->
      <div class="card-body">
        <p class="font-weight-bold text-uppercase pink-text mb-3">17200029</p>
        <h3 class="font-weight-bold mb-3 pb-1">Pablo Batista</h3>                    
      </div>
    </div>

    </div>

     

    <!-- Front Side -->
    <div class="face front">

      <!-- Avatar -->
      <div class="avatar mx-auto white">
      
      <img src="assets/filipe.jpg" class="rounded-circle" alt="Sample avatar image." style="height:140px; padding:5px">
      
      <!-- Content -->
      <div class="card-body">
        <p class="font-weight-bold text-uppercase pink-text mb-3">17201179</p>
        <h3 class="font-weight-bold mb-3 pb-1">Filipe Borges</h3>                    
      </div>

      </div>

      
    </div>
  </div>
</div>
