<!-- Rotating card -->
<div class="card-wrapper card-action">
    <div id="card-1" class="card card-rotating text-center">

      <!-- Front Side -->
      <div class="face front">

        <!-- Image-->
        <div class="card-up">
          <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/18.jpg" alt="Image with a photo of clouds.">
        </div>

        <!-- Avatar -->
        <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(21).jpg" class="rounded-circle" alt="Sample avatar image.">
        </div>

        <!-- Content -->
        <div class="card-body">
          <p class="font-weight-bold text-uppercase pink-text mb-3">Photography</p>
          <h3 class="font-weight-bold mb-3 pb-1">Hello World!</h3>
          <!-- Triggering button -->
          <a class="rotate-btn btn-floating btn-pink" data-card="card-1"><i class="fas fa-redo-alt"></i> Click here to rotate</a>
        </div>
      </div>
      <!-- Front Side -->

      <!-- Back Side -->
      <div class="face back">
        <div class="card-body">

          <!-- Content -->
          <h4 class="font-weight-bold">About me</h4>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?
          </p>
          <hr>
          <!-- Social Icons -->
          <ul class="list-inline py-2">
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-google-plus-g"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
          <!-- Triggering button -->
          <a class="rotate-btn" data-card="card-1"><i class="fas fa-undo"></i> Click here to rotate back</a>

        </div>
      </div>
      <!-- Back Side -->

    </div>
</div>
  <!-- Rotating card -->

  <!-- Rotating card -->
<div class="card-wrapper card-action">
    <div id="card-1" class="card card-rotating text-center">

      <!-- Front Side -->
      <div class="face front">

        <!-- Image-->
        <div class="card-up">
          <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/18.jpg" alt="Image with a photo of clouds.">
        </div>

        <!-- Avatar -->
        <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(21).jpg" class="rounded-circle" alt="Sample avatar image.">
        </div>

        <!-- Content -->
        <div class="card-body">
          <p class="font-weight-bold text-uppercase pink-text mb-3">Photography</p>
          <h3 class="font-weight-bold mb-3 pb-1">Hello World!</h3>
          <!-- Triggering button -->
          <a class="rotate-btn btn-floating btn-pink" data-card="card-1"><i class="fas fa-redo-alt"></i> Click here to rotate</a>
        </div>
      </div>
      <!-- Front Side -->

      <!-- Back Side -->
      <div class="face back">
        <div class="card-body">

          <!-- Content -->
          <h4 class="font-weight-bold">About me</h4>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?
          </p>
          <hr>
          <!-- Social Icons -->
          <ul class="list-inline py-2">
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-google-plus-g"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
          <!-- Triggering button -->
          <a class="rotate-btn" data-card="card-1"><i class="fas fa-undo"></i> Click here to rotate back</a>

        </div>
      </div>
      <!-- Back Side -->

    </div>
</div>
  <!-- Rotating card -->


  <!-- Rotating card -->
<div class="card-wrapper card-action">
    <div id="card-1" class="card card-rotating text-center">

      <!-- Front Side -->
      <div class="face front">

        <!-- Image-->
        <div class="card-up">
          <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/18.jpg" alt="Image with a photo of clouds.">
        </div>

        <!-- Avatar -->
        <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(21).jpg" class="rounded-circle" alt="Sample avatar image.">
        </div>

        <!-- Content -->
        <div class="card-body">
          <p class="font-weight-bold text-uppercase pink-text mb-3">Photography</p>
          <h3 class="font-weight-bold mb-3 pb-1">Hello World!</h3>
          <!-- Triggering button -->
          <a class="rotate-btn btn-floating btn-pink" data-card="card-1"><i class="fas fa-redo-alt"></i> Click here to rotate</a>
        </div>
      </div>
      <!-- Front Side -->

      <!-- Back Side -->
      <div class="face back">
        <div class="card-body">

          <!-- Content -->
          <h4 class="font-weight-bold">About me</h4>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?
          </p>
          <hr>
          <!-- Social Icons -->
          <ul class="list-inline py-2">
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-google-plus-g"></i></a></li>
            <li class="list-inline-item"><a class="mx-1 btn-floating btn-pink"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
          <!-- Triggering button -->
          <a class="rotate-btn" data-card="card-1"><i class="fas fa-undo"></i> Click here to rotate back</a>

        </div>
      </div>
      <!-- Back Side -->

    </div>
</div>
  <!-- Rotating card -->

  <!--function() {
    t(this).closest(".card").toggleClass("flipped")
  }
function(e) {
  return void 0 !== S && S.event.triggered !== e.type ? S.event.dispatch.apply(t, arguments) : void 0
}-->